#cenefa{
    text-align: right;
    color: white;
    background-color: #298A08;
}

#banner{
    margin: auto;
    width: 80%;
    padding: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

