#cenefa{
    text-align: right;
    color: white;
    background-color: #008148;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.container {
    padding: 16px;
}

.loginText {
    text-align:center;
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

div {
    border: 10px;
}

h1 {
    align: center;
}
ul {
    list-style-type: none;
}

.customButton{
    background-color: #008148; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 25%;
    border: 1px solid black;
}

button {
    background-color: #008148; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 15%;
    border: 1px solid black;
}

