#cenefa{
    text-align: right;
    color: white;
    background-color: #298A08;
}

#banner{
    margin: auto;
    width: 80%;
    padding: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

.loginText {
    text-align:center;
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

